html {
font-family: "Consolas";
display: none;
}

body {
margin: 0;
width: 100vw;
height: 100vh;
background: linear-gradient(-45deg, rgba(240, 78, 44, .4), rgba(15, 48, 91, .2)),
url("../TopPage/images/toppage.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#menu {
display: block;
width: auto;
overflow: hidden;
text-align: center;
padding-top: 20px;
font-size: 0;
}

#menu ul {
margin: 0;
padding: 0;
width: auto;
}

#menu ul li {
display: inline-block;
list-style-type: none;
font-size: 25px;
margin-right: 2px;
padding-right: 5%;
padding-left: 5%;
}

a {
display: block;
text-decoration: none;
color: #f5f5dc;
}

a:hover {
opacity:0.5;
}